@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

body {
  padding: 0;
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: #4F4F4F;
}

.container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}
.header{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  line-height: 62px;

  /* Gray 1 */
  color: #333333;
}

.blue-glow {
  box-shadow: 0px 30px 60px rgba(0, 117, 255, 0.3);
}

.semi-blue-glow {
  box-shadow: 0px 20px 40px rgba(0, 117, 255, 0.1);
}

.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}

.navbar.fixed {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 117, 255, 0.2);
  -webkit-backdrop-filter: blur(34px);
  backdrop-filter: blur(34px);
  width: 100%;
}

.homePage {
  background-image: url('/pattern2.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.9);
}

.flip-border {
  border: 1px solid #E0E0E0;
}

.blue-glow {
  box-shadow: 0px 30px 60px rgba(0, 117, 255, 0.3);
}

.semi-blue-glow {
  box-shadow: 0px 20px 40px rgba(0, 117, 255, 0.1);
}

.pageBody {
  min-height: 500px;
}

.btn-border {
  border-radius: 8px;
}

.flip-bg{
    background-image: linear-gradient(transparent 50%, cyan 50%);
    background-size: 100% 50px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: left bottom;
  }

.ForSchool {
  background-image: url('/ForSchoolBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}



.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.mobile-slider{
  display: none;
}
.card {
  border: 1px solid #E2E4E8;
  box-shadow: 0px 20px 40px rgba(0, 117, 255, 0.1);
  border-radius: 30px;
}

@media only screen and (max-width: 768px){
  .ForSchool {
    background-image: url('/pattern2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.9);
  }
  
  .homePage {
    background-image: url('/pattern2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.9);
  }

  .navbar.fixed{
    z-index: 9;
  }
  .mobile-nav {
    position: fixed;
    height: 100vh;
    width: 100%;
    margin-top: 62px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    /* z-index: 9; */
  }

  .card {
    border: 1px solid #E2E4E8;
    box-shadow: 0px 20px 40px rgba(0, 117, 255, 0.1);
    border-radius: 16px;
  }

  .mobile-slider{
    display: block;
  }

  .header{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    line-height: 42px;

    /* Gray 1 */
    color: #333333;
  }
}

@media only screen and (max-width: 1024px){
  .homePage {
    background-image: url('/pattern2.png');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.92);
  }

  .pagebody {
    height: 100vh;
  }
  
}
@media only screen and (min-width: 1024px){
  .homePage2 {
    background-image: url('/bg2_homepage.png');
    background-repeat: no-repeat;
    background-size: 680px 600px;
    background-position: right bottom;
  }

  .ForOrganisation {
    background-image: url('/OrganisationBg.png');
    background-repeat: no-repeat;
    background-size: 800px 650px;
    background-position: right bottom;
  }

  
}
