@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.navbar {
  width: 100%;
  max-width: 1220px;
}

.ForSchool {
  background-image: url('/ForSchoolBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 768px){
  .ForSchool {
    background-image: url('/pattern2.png');
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%; */
    box-shadow: inset 0 0 0 2000px rgba(248, 245, 245, 0.824);
  }
}
