@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

body {
  padding: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar.fixed {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 117, 255, 0.2);
  -webkit-backdrop-filter: blur(34px);
  backdrop-filter: blur(34px);
}

.homePage {
  background-image: url('/pattern2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.9);
}
.flip-border {
  border: 1px solid #E0E0E0;
}

.blue-glow {
  box-shadow: 0px 30px 60px rgba(0, 117, 255, 0.3);
}

.semi-blue-glow {
  box-shadow: 0px 20px 40px rgba(0, 117, 255, 0.1);
}

.ForSchool {
  background-image: url('/ForSchoolBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 768px){
  .ForSchool {
    background-image: url('/pattern2.png');
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%; */
    box-shadow: inset 0 0 0 2000px rgba(248, 245, 245, 0.824);
  }
}
