.bigfeatleft p,
.bigfeatleft p,
.bigfeatright p,
.bigfeatright p {
	color: #06042c;
	font-size: 20px;
	line-height: 30px;
}
.bigfeatright h3,
.bigfeatleft h3 {
	color: #06042c;
	font-size: 40px;
}
@media only screen and (max-width: 768px) {
	.bigfeatleft h3,
	.bigfeatright h3 {
		font-size: 24px;
	}
}
